.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container h3 {
    margin: auto;
}

.container ul {
    width: 1000px;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.userItem {
    width: 300px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    width: 100%;
    padding: 6px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

