.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container h3 {
    margin: auto;
}

.container ul {
    width: 1000px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style: none;
}

.userItem {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}