.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}
 
